/* 폰트적용 시작 */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  font-family: 'Indie Flower', cursive;
}
/* 폰트적용 끝 */

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none; /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

a {
    color: inherit;	/* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;	/* 해당 태그의 text-decoration을 none으로 하는 것으로 밑줄을 제거한다 */
}
  
/* 사이트의 모든 요소에 사용될 수 있는 값은 별도로 라이브러리로 정리할 수 있다. */
/* 사이트의 중앙에 위치하도록 결정 */
.con {
    margin-left: auto;
    margin-right: auto;
}

/* inline-block 형태는 text-align을 통해 정렬이 가능하다 */
.menu-bar__menu-box-1 > ul {
    text-align: center;
}
/* <li>의 display 값은 기본적으로 block의 형태이므로 inline-block 값으로 바꿔준다 */
.menu-bar__menu-box-1 > ul > li {
    display: inline-block;
    width: calc(100% / 5);
}
.menu-bar__menu-box-1 > ul > li > a {
    display: block;
    font-size: 1.5rem;
    margin: 0px;
    /* border: 3px solid greenyellow; */
}
/* hover는 가능한 부모의 엘리먼트에 적용해 주는 것이 좋다 */
.menu-bar__menu-box-1 > ul > li:hover > a {
    text-decoration: underline;
    color: red;
}
  
/* <a>와 <span>의 display 값은 기본적으로 inline의 형태이므로 text-align을 통해 정렬이 가능하다 */
.logo-bar > div {
    text-align: center;
    position: relative;
}
.logo-bar > div > .logo-bar__logo {
    font-size: 2.6rem;
    padding: 0px;
    /* border: 3px solid red; */
}
.logo-bar > div > .logo-bar__logo > span > span:nth-of-type(3) {
    color: red;
}

.logo-image {
    height: 45px;
    top: 50%;
    transform: translateY(20%);
}

.inline-grid > * {
    font-size: 0.9rem;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

#game-container {
    width: 10px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .logo-bar > div > .logo-bar__logo {
        font-size: 1rem;
        padding: 0px;
        /* border: 3px solid red; */
    }
    .menu-bar__menu-box-1 > ul > li > a {
        display: block;
        font-size: 1rem;
        margin: 0px;
        /* border: 3px solid greenyellow; */
    }
}